/* 
    Document   : layoutCssResource
    Created on : 03/09/2012, 12:51:47
    Author     : Cristian Rinaldi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.border-side-menu{
    border: 1px solid rgba(0, 0, 0, .2);
}

.background-center{
    background: blue;
}

